*{
	margin: 0;padding:0 ; 
	box-sizing: border-box;
	outline: none;
	}
a{text-decoration: none;}

@media screen and (max-width:1100px) {
	.bl-banner{
		min-width:1050px;
	}
	.min-header{
		min-width: 1050px;
	}
	.nav-search .nav-search-div{
		
		display: none;
	}
	
}


.b-warp{
	width: 999px;
	margin: auto;
}


#main>div:first-child{
	height: 263px;
	
}

/* 最开始头部 0010 */
.min-header{
	height: 56px;
	float: left;
	width: 100%;
	position: relative;
	z-index: 5;
}

/* 最开始头部内容 */
.min-header-content{
	height: 56px;
	padding:10px 24px ;
	display: flex;
	justify-content: space-between;
}

/* 开头链接 */
.nav-link{
	height: 36px;
	/* display: flex; */
	
}

.nav-link-ul{
	width: 100%;
	display: flex;
	list-style: none;
	/* justify-content: space-around; */
}

.nav-link-ul-item{
	
	line-height: 30px;
	margin-right: 12px;
}

.nav-link-ul-item-a{
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

/* 搜索盒子 */
.nav-search-box{
	margin: 0 10px;
	width: 20%;
	line-height: 30px;
	text-align: center;
}

.nav-search{
	/* line-height: 30px; */
	position: relative;
	display: flex;
}

.nav-search-div{
	width: 100%;
	padding: 0 0 0 16px;
	/* border: 1px solid transparent; */
	border-radius: 2px;
	background-color: #fff;
	display: inline-block;
	
}

.nav-search-div-input{
	height: 34px;
	width: 100%;
	border: none;
	background-color: #fff;
	color:#999 ;
	font-size: 13px;
	border: 0;
}
/*搜索按钮框  */
.nav-search-btndiv{
	/* position: absolute; */
	/* left:92.4% ; */
	height: 34px;
	background: #e7e7e7;
}

.nav-search-btndiv-btn{
	height: 34px;
	width: 38px;
	border: 0;
}
.nav-search-btndiv-btn::before{
	display: inline-block;
	content:"\E72C" ;
}


/*小型用户中心*/
.nav-user-center{
	display: flex;
	line-height: 30px;
}

.nav-user-search{
	cursor: pointer;
}

.nav-user-search-i::before{
	content: "\E72C";
}

.nav-user-signin{
	display: flex;
	font-size: 12px;
}


.nav-user-signin-item{
	margin-left: 12px;
	
}

.nav-user-signin-item span{
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}


.nav-user-tg{
	line-height: 30px;
	margin-left: 14px;
	height: 36px;
	width: 86px;
	position: relative;
	
}

.nav-user-tg>button a{
	color: inherit;
}



.nav-user-tg>div{
	width: 350px;
	/* background-color: #fff; */
	position: absolute;
	right: -22px;
	z-index: 5;
	font-size: 15px;
	/* display: none; */
	/* 隐藏动画，但是优点缺陷 */
	opacity: 0;
	visibility: hidden;
	transition: 0.5s linear;
	
}



.nav-user-tg:hover div{
	/* display: block; */
	opacity: 1;
	visibility: initial;
}



.nav-user-tg>div>div:first-child{
	/* background: #000; */
	width: 10px;
	height: 15px;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	position:absolute ;
	right: 50px;
}

.nav-user-tg>div>div:last-child{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background: #fff;
	position:absolute ;
	border-radius: 4px;
	top: 19px;
}

.nav-user-tg>div>div:last-child>div{
	width: 25%;
	text-align: center;
}

.nav-user-tg>div>div:last-child>div a{
	color: inherit;
}

.nav-user-tg>div>div:last-child img{
	width: 40%;
	display: block;
	/* margin: 0; */
	margin: auto;
	margin-bottom: 5px;
	
}

.nav-user-tg>button{
	width: 100%;
	height: 36px;
	border: 0;
	font-size: 14px;
	background-color: #fb7299;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	
}


/*banner*/
.bl-banner{
	background:url(../img/u=836980008,2657813779&fm=26&gp=0.jpg) no-repeat ;
	width: 100%;
	background-size: 100% 180px;
	min-height: 155px;
	
}

/*导航栏*/
/* 1 */
.pre-menu{
	width: 999px;
	margin: auto;
	background: #999999;
	padding: 20px 0;
	height: 108px;
	display: flex;
	text-align: center;
	
}

.pre-menu-item>ul{
	list-style: none;
	display: flex;
	text-align: center;
	
}

.pre-menu-item li{
	height: 68px;
	width: 50px;
	border: 1px solid transparent;
	text-align: center;
	display: flex;
	align-items: center;
	text-align: center;
	
}


.pre-menu-item a{
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: #212121;
	/* line-height: 66px; */
	margin: auto;
	transition: all 0.5s;
}

.pre-menu-item a:hover{
	color: #73c9e5;
}

.pre-menu-item img{
	width: 30px;
	margin: auto;
	margin-bottom: 1px;
	border-radius: 50%;
	
}

.pre-menu-item>ul>li:last-child{
	width: 30px;
}

.tab-line{
	display: block;
	margin: 0 auto;
	height: 46px;
	width:2px ;
	border-left: 1px solid #E7E7E7;
}

/* 2 */
.pre-menup{
	font-size: 12px;
	width: 549px;
	/* height: 68px; */
	display: flex;
	flex-flow:row wrap;
	position: relative;
}


.pre-menup .hiddenbox{
	width: 100px;
	position: absolute;
	top: -125px;
	border:1px solid transparent;
	border-radius: 4px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition: 1s;
}

.pre-menup .hiddenbox>a{
	margin-bottom:10px ;
}

.pre-menup .hiddenbox+div{
	/* background: #212121; */
	width: 10px;
	height: 10px;
	position: absolute;
	top: -16px;
	left: 5px;
	border:10px solid transparent;
	border-top-color:#fff ;
	opacity: 0;
	visibility: hidden;
	transition: 1s;
}

.pre-menup div{
	margin-left: 2px;
	padding-top: 3px;
	vertical-align: middle;
	align-self: center;
	position: relative;
}

.pre-menup div a{
	display: inline-block;
	color: #212121;
	margin-right: 4px;
	transition: all 0.5s;
}

/* 触发显示 */
.hiddenbox+div:hover,.hiddenbox:hover{
	opacity: 1;
	visibility: visible;
}

.pre-menup div a:hover~div{
	opacity: 1;
	visibility: visible;
}

.pre-menup div a:hover{
	color: #73c9e5;
}

.pre-menup div a span{
	display: inline-block;
	margin-left: 3px;
	font-size: 10px;
	background: #73c9e5;
	border-radius: 2px;
	color: #fff;
}

.pre-menup>div:last-child{
	position: absolute;
	left: 98%;
}


/* 3 */
.pre-menu-right{
	display: flex;
	flex-flow: row wrap;
	font-size: 14x;
	width: 25%;
	align-items: center;
}

.pre-menu-right div{
	padding: 2px;
	margin-right: 4px;
}

.pre-menu-right div a img{
	width: 25px;
	vertical-align: middle;
	border-radius: 50%;
}

.pre-menu-right div a span{
	font-size: 12px;
	margin-left: 4px;

	transition: all 0.5s;
	color: inherit;
}

.pre-menu-right div a{
	transition: all 0.2s;
	color: #333;
}

.pre-menu-right div a:hover{
	color: #73c9e5;
	
}